# Tapşırıq 19.

## Endirim kampaniyaları çərçivəsində hansı məhsul kateqoriyası liderlik edib? Zəhmət olmasa, hər bir kampaniya üçün ayrılıqda olmaqla məsələni həll edin

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("esas_mehsullar.csv")
df = data.copy()
df.head()

,column_a,satish_kodu,mehsul_kodu,mehsul_ad,mehsul_kateqoriya,mehsul_qiymet,satish_tarixi,endirim_kompaniya,bonus_kart,magaza_ad,magaza_lat,magaza_long,magaza_location
0,0,577571,3334,GONDOL SIMPLE LABABO VE BUZLUK HALISI G61*50,Məişət məhsulları,3.68,2019-07-19T12:29:00,Sərin Yay günləri,True,Zabrat,40.485561,49.946741,POINT(49.9467409 40.4855613)
1,1,577571,4674,TAXTA BICAQ 3232,Qab-qacaq,2.25,2019-07-19T12:29:00,Sərin Yay günləri,True,Zabrat,40.485561,49.946741,POINT(49.9467409 40.4855613)
2,2,577571,8388,VITA 1LT ANANAS SIRESI,Meyvə Şirələri,2.50,2019-07-19T12:29:00,Sərin Yay günləri,True,Zabrat,40.485561,49.946741,POINT(49.9467409 40.4855613)
3,3,577571,6017,GILAN BAGDAN 1LT SARI GAVALI KOMPOTU,Kompotlar,1.45,2019-07-19T12:29:00,Sərin Yay günləri,True,Zabrat,40.485561,49.946741,POINT(49.9467409 40.4855613)
4,4,577571,8297,OSRAM SUPERSTAR LAMPA 64544A ECO 57W E27,Məişət məhsulları,2.92,2019-07-19T12:29:00,Sərin Yay günləri,True,Zabrat,40.485561,49.946741,POINT(49.9467409 40.4855613)

In [3]:
df["endirim_kompaniya"].unique()

array(['Sərin Yay günləri', nan, 'Yeni il fürsətləri',
       'Payız endirimləri', 'S?rf?li Yaz', 'Bərəkətli Novruz'],
      dtype=object)

In [4]:
df["endirim_kompaniya"] = df["endirim_kompaniya"].transform(lambda x: x.replace("S?rf?li Yaz", "Sərfəli Yaz"))

In [5]:
df["endirim_kompaniya"].unique()

array(['Sərin Yay günləri', nan, 'Yeni il fürsətləri',
       'Payız endirimləri', 'Sərfəli Yaz', 'Bərəkətli Novruz'],
      dtype=object)

In [6]:
# hər bir endirim kompaniyası üzrə ən çox satılan məhsul kateqoriyası

kateqoriya = df.groupby("endirim_kompaniya")["mehsul_kateqoriya"].apply(lambda x: x.value_counts().nlargest(1)).to_frame()

In [7]:
kateqoriya

                              mehsul_kateqoriya
endirim_kompaniya
Bərəkətli Novruz   Şirniyyat               8464
Payız endirimləri  Şirniyyat               8150
Sərfəli Yaz        Şirniyyat               8524
Sərin Yay günləri  Şirniyyat              16480
Yeni il fürsətləri Şirniyyat               8203

In [8]:
kateqoriya.reset_index().rename(columns={"level_1" : "mehsul_kateqoriya", "mehsul_kateqoriya" : "satish_sayi"})

    endirim_kompaniya mehsul_kateqoriya  satish_sayi
0    Bərəkətli Novruz         Şirniyyat         8464
1   Payız endirimləri         Şirniyyat         8150
2         Sərfəli Yaz         Şirniyyat         8524
3   Sərin Yay günləri         Şirniyyat        16480
4  Yeni il fürsətləri         Şirniyyat         8203