# Tapşırıq 18.

## Data əsasında alınma ehtimalı 50%-dən çox olan məhsul kombinasiyalarını bizə bildirin, zəhmət olmasa.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("esas_mehsullar.csv")
df = data.copy()
df.head()

,column_a,satish_kodu,mehsul_kodu,mehsul_ad,mehsul_kateqoriya,mehsul_qiymet,satish_tarixi,endirim_kompaniya,bonus_kart,magaza_ad,magaza_lat,magaza_long,magaza_location
0,0,577571,3334,GONDOL SIMPLE LABABO VE BUZLUK HALISI G61*50,Məişət məhsulları,3.68,2019-07-19T12:29:00,Sərin Yay günləri,True,Zabrat,40.485561,49.946741,POINT(49.9467409 40.4855613)
1,1,577571,4674,TAXTA BICAQ 3232,Qab-qacaq,2.25,2019-07-19T12:29:00,Sərin Yay günləri,True,Zabrat,40.485561,49.946741,POINT(49.9467409 40.4855613)
2,2,577571,8388,VITA 1LT ANANAS SIRESI,Meyvə Şirələri,2.50,2019-07-19T12:29:00,Sərin Yay günləri,True,Zabrat,40.485561,49.946741,POINT(49.9467409 40.4855613)
3,3,577571,6017,GILAN BAGDAN 1LT SARI GAVALI KOMPOTU,Kompotlar,1.45,2019-07-19T12:29:00,Sərin Yay günləri,True,Zabrat,40.485561,49.946741,POINT(49.9467409 40.4855613)
4,4,577571,8297,OSRAM SUPERSTAR LAMPA 64544A ECO 57W E27,Məişət məhsulları,2.92,2019-07-19T12:29:00,Sərin Yay günləri,True,Zabrat,40.485561,49.946741,POINT(49.9467409 40.4855613)

In [3]:
# müştəri kodları və aldığı məhsullar

df = df[["satish_kodu","mehsul_ad"]]

In [4]:
df

        satish_kodu                                     mehsul_ad
0            577571  GONDOL SIMPLE LABABO VE BUZLUK HALISI G61*50
1            577571                              TAXTA BICAQ 3232
2            577571                        VITA 1LT ANANAS SIRESI
3            577571          GILAN BAGDAN 1LT SARI GAVALI KOMPOTU
4            577571      OSRAM SUPERSTAR LAMPA 64544A ECO 57W E27
...             ...                                           ...
438821       497589                   ADONIS BAYAN BADY KOD:80070
438822       458448              SIGARET SOBRANIE KS SLIMS BLACKS
438823       458448                    TACH BULASIK SUNGERI 10-LU
438824       458448                  KONFET SUVOROV PLOMBIRINI KG
438825       458448                  DAMLA 350ML BULAQ SUYU SPORT

[438826 rows x 2 columns]

In [5]:
# çatışmayan məlumatlar

df.isnull().sum()

satish_kodu      0
mehsul_ad      771
dtype: int64

In [6]:
df = df.dropna()

In [7]:
df.isnull().sum()

satish_kodu    0
mehsul_ad      0
dtype: int64

In [8]:
# məhsulları satış kodlarına görə qruplamaq

items = df.groupby("satish_kodu")["mehsul_ad"].apply(lambda x: ";".join(x))

In [9]:
items = items.to_frame()

In [10]:
items.head()

                                                     mehsul_ad
satish_kodu
222224       SOKOLAD HEDIYYELIK EDEDLI 2.5AZN;PRESIDENT 200...
222229       VOLOJKA 800GR RIS KRASNODARSKIY;KARAMEL ROSHEN...
222245       DELSTER 1LT PIVE ALKOQOLSUZ LIMON PL/Q;IMPERAT...
222256       SEDRAYA ZEMLYA 700GR QIRMIZI MERCI PAKET;NATAK...
222258       AZER SEKER 2.6KG KELLE QEND PL/Q;VORSINKA 1.2L...

In [11]:
# məhsulları ayrı ayrılıqda list formatına çevirmək

transactions = list(items["mehsul_ad"].transform(lambda x: x.split(";")))

In [12]:
transactions[0]

['SOKOLAD HEDIYYELIK EDEDLI 2.5AZN',
 'PRESIDENT 200GR ERID.PENDIR MAASDAM PL/Q',
 'GOOD FOOD 400GR SOR PL/Q',
 'ETI 9X20GR ADICTO KEKS SOKOLADLI GOLD',
 'KONFET B&B AFRIKA S NACIKOY KG',
 'ULKER 70GR OLALA SUFLE KEK BANAN SOKOLADLI']

In [13]:
# məhsulları pivot formatında səbətə çevirmək: hər bir sətirdə(səbətdə) hansı məhsulların olub olmaması

from mlxtend.preprocessing import TransactionEncoder

tr_enc = TransactionEncoder()
basket = pd.DataFrame(tr_enc.fit_transform(transactions), columns=tr_enc.columns_)

In [14]:
basket

,+ MORE 1LT ALBALI SHIRESI,+ MORE 1LT ERIK SHIRESI,+ MORE 1LT MULTIVITAMIN SHIRESI,+ MORE 1LT SAFTALI SHIRESI,+ MORE 1LT VISNYE SHIRESI S/Q,100 RUBLEY 0.7LT 40% ARAQ,100 RUBLEY 1LT 40% ARAQ,2,28 BLACK 250ML ENERJI ICKI D/Q,3 JELANIYA 190GR MAYONEZ PROVANSAL 67%,...,ZS QASIQ EDEDLI 31061,ZS QULPLU SEBET PLASTIK 32027,ZS SEKER TOZU QABI 13004,ZS SEKER TOZU QABI 13056,ZS SILIKON SEBET SPILKA 32041,ZS SUSE QAB DEMIR QAPAQLI VAKUMLU KICIK 11078,ZS SUSE QAB MIKRODALGALI SOBA UCUN 15013,ZS SUSE SOUS QABI 12088,ZS SUSULKA DORDKUNC 32212,ZS YAQLI QASIQ QABI 31056
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
79996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
79997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
79998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
79999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
# səbət analizi üçün lazım olan funksiyalar

from mlxtend.frequent_patterns import apriori,association_rules

In [16]:
# məhsulların ayrı ayrılıqda və birlikdə səbətlərdə görünmə dərəcəsi

frequent = apriori(basket, min_support=0.00002, low_memory=True, use_colnames = True)
frequent

        support                                           itemsets
0      0.000425                        (+ MORE 1LT ALBALI SHIRESI)
1      0.000362                          (+ MORE 1LT ERIK SHIRESI)
2      0.000425                  (+ MORE 1LT MULTIVITAMIN SHIRESI)
3      0.000362                       (+ MORE 1LT SAFTALI SHIRESI)
4      0.000387                    (+ MORE 1LT VISNYE SHIRESI S/Q)
...         ...                                                ...
21546  0.000025  (ZOLOTOY PETUSOK 370GR LAZANYA MYASNAYA, YARMA...
21547  0.000025  (YEDDI GOZEL 750ML AG SERAB, YENI RAKI 0,35LT ...
21548  0.000025  (ZS KICIK GUL QABI 32221, YORK SLIKON ELCEK L ...
21549  0.000025  (SNO 5LT QAZSIZ SU PL/Q, GEZEN CORAB 2, BINE T...
21550  0.000025  (KREKI 130GR KREKER CUBUQ + KREKI 45GR MIX, ME...

[21551 rows x 2 columns]

In [17]:
# sol tərəfdəki məhsullar alındıqda sağ tərəfdəki məhsulların alınma ehtimalı ən yüksək olan kombinasiyalar (confidence dəyərinə görə) 
association_rules(frequent, metric = "confidence", min_threshold = 0.05).sort_values(by = "confidence",
                                                                                        ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
12776,"(SNO 5LT QAZSIZ SU PL/Q, BINE T/E TERLIK KISI/...",(GEZEN CORAB 2),0.000025,0.000400,0.000025,1.00,2500.000000,0.000025,inf
12777,"(GEZEN CORAB 2, BINE T/E TERLIK KISI/QADIN 2)",(SNO 5LT QAZSIZ SU PL/Q),0.000025,0.000362,0.000025,1.00,2758.620690,0.000025,inf
12783,"(MENIM AILEM 95GR GUNEBAXAN TUMU, HEINZ 60GR P...",(KREKI 130GR KREKER CUBUQ + KREKI 45GR MIX),0.000025,0.000338,0.000025,1.00,2962.962963,0.000025,inf
12782,"(KREKI 130GR KREKER CUBUQ + KREKI 45GR MIX, HE...",(MENIM AILEM 95GR GUNEBAXAN TUMU),0.000025,0.000350,0.000025,1.00,2857.142857,0.000025,inf
12775,"(SNO 5LT QAZSIZ SU PL/Q, GEZEN CORAB 2)",(BINE T/E TERLIK KISI/QADIN 2),0.000025,0.000350,0.000025,1.00,2857.142857,0.000025,inf
...,...,...,...,...,...,...,...,...,...
950,(MISTER TUM 40GR SOYULMUS YER FINDIGI POSET),(ARMAGIA 100GR KOFE MOLOTIY ROBUSTA POSET),0.000500,0.000513,0.000025,0.05,97.560976,0.000025,1.052092
4497,(QAPAQ DEMIR KICIK 53MM),(CIKO 200GR QOVRULMUS ANTEP FISTIGI),0.000500,0.000400,0.000025,0.05,125.000000,0.000025,1.052211
4488,(SOSISKA R.V MOLOCNAYA KG),(CIHAN TEA 200GR CEYLON TEA EARL FREY FBOP),0.000500,0.000400,0.000025,0.05,125.000000,0.000025,1.052211
4477,(KARAT 150GR ERID.PENDIR YANTAR 45%),(CIHAN 100GR SEYLON CAY EARL GREY QIRMIZI QUTU),0.000500,0.000338,0.000025,0.05,148.148148,0.000025,1.052276
12786,(HEINZ 60GR PECENYE USAQ UCUN 6ZLAKOV 6AYDAN),"(KREKI 130GR KREKER CUBUQ + KREKI 45GR MIX, ME...",0.000500,0.000025,0.000025,0.05,2000.000000,0.000025,1.052605